<div class="jumbotron">
  <h2>Welcome to the Red:4 Store</h2>
  <p class="lead">Everything a Hopeful Martian needs.</p>
</div>

<div class="row marketing">
  <div class="col-md-12">
    <h2>Featured Goodies</h2>
    <%= for p <- @featured do %>
      <%=render "_product_tile.html", product: p %>
    <% end %>
  </div>
</div>
